.program {
  width: 73%;
  margin: 8rem auto;
}

.program h1{
    font-size: 48px;
    color: var(--heading-color);
    margin: 0px 0px 8px;
}

.program p{
    font-size: 24px;
    color: var(--para-color);
    width: 640px;
}

.program .Cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 80px;
}

.program .Cards .card {
    width: 352px;
    height: 275px;
    margin-bottom: 20px;
    position: relative;
    box-shadow: 0px;
    transition: 0.5s ease-in-out;
    border-radius: 8px;
    cursor: pointer;
}




.program .Cards .card .image{
    width: 352px;
    height: 200px;
    overflow: hidden;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.program .Cards .card:first-child{
    background-color: #F48923;
}

.program .Cards .card:nth-child(2){
    background-color: #0cb9c1;
}

.program .Cards .card:last-child{
    background-color: #f85a40;
}

.program .Cards .card p{
    position: absolute;
    font-size: 20px;
    color: #fff;
    font-weight: 700;
    left: 10rem;
    bottom: 3rem;
}


.program .Cards .card .pro-img{
    position: absolute;
    left: 12rem;
    top: 12rem;
    transition: 0.5s all;
    z-index: 3;
    opacity: 0;
}

.program .Cards .card:hover .pro-img{
    opacity: 1;
}

.program .Cards .card:first-child:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 75%;
    background: linear-gradient(0deg,#f48924 0,rgba(244,137,36,.5));
    z-index: 2;
    transition: 0.5s all;
    opacity: 0;
}

.program .Cards .card:first-child:hover:before{
    opacity: 1;
}
.program .Cards .card:nth-child(2):before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 75%;
    background: linear-gradient(0deg,#0cb9c1 0,rgba(12,185,193,.5));
    z-index: 2;
    transition: 0.5s all;
    opacity: 0;
}

.program .Cards .card:nth-child(2):hover:before{
    opacity: 1;
}
.program .Cards .card:last-child:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 75%;
    background: linear-gradient(0deg,#f85a40 0,rgba(248,90,64,.5));
    z-index: 2;
    transition: 0.5s all;
    opacity: 0;
}

.program .Cards .card:last-child:hover:before{
    opacity: 1;
}


